<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotfixinjector">

    <!-- Internet permission for license verification -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- External storage permission for encrypted license file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true"
        android:requestLegacyExternalStorage="true">
		<service
            android:name=".MonitorService"
            android:enabled="true"
            android:exported="false"
            android:process=":monitor" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- License Activation Activity -->
        <activity
            android:name=".LicenseActivationActivity"
            android:label="License Activation"
            android:exported="false" />

	
		<meta-data
			android:name="xposedmodule"
			android:value="true" />
		
		<meta-data
			android:name="xposeddescription"
			android:value="Xposed module demo" />
		
		<meta-data
			android:name="xposedminversion"
			android:value="53" />
		
		<meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
		<meta-data
            android:name="xposedsharedprefs"
            android:value="true" />
        
        <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>

    </application>

</manifest>
